<div class="is-flex justify-center">
  <div class="ffa-big-card ffa-card">

  <div class="sub-heading">FFA Chapter</div>

    <div class="heading">Fundraiser</div>

    <div class="hr"></div>

    <div class="ffa-card-body">
      Our fundraiser will be live soon, enrollment starts now!<br />The best part—it’s quick, easy, and free.
    </div>

    <%= link_to 'Enroll my Chapter', next_wizard_path, class: 'btn-orange-red' %>
  </div>
</div>

<div class="is-flex justify-center">
  <div class="ffa-small-card ffa-card">
    <div class="heading">
      Currently Approved States
    </div>

    <div class="state-block">
      <div class="ffa-state">
        <%= image_tag 'ar-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-fl.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-ia.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'in-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'ky-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'ks-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-la.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'mi-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'mn-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'mo-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-ms.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-nd.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-ne.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-oh.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'state-ok.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'po-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'sd-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'tx-state.svg' %>
      </div>

      <div class="ffa-state">
        <%= image_tag 'va-state.svg' %>
      </div>
    </div>

    <%= link_to 'I don’t see my state', faqs_path + "#question-6", class: "btn-no-state" %>
  </div>
</div>
