<div class="modal-header">
  <div class="modal-title">Let’s Reset Your Password.</div>

  <div type="button" class="close" data-dismiss="modal" aria-label="Close">
    <%= image_tag("modal-close.svg") %>
  </div>
</div>

<div class="modal-body reset-password-content">
  <div class="body-header">
    <div class="body-header-title">Enter Your Account’s Email Address</div>
  </div>

   <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path, remote: :true do |f| %>
    <div id="nav-login-form">
      <div class="form-group">
        <div class="ag-input-neutral shipping-email">

          <div class="ag-input-group-box email-validation">
            <%= f.text_field :email, required: true, class: "ag-input-field form-control",  placeholder: "Email", id: "nav_login_email"%>
          </div>

          <span class="email-message error-message" id="email-modal-message">
            Please enter a valid email address.
          </span>
        </div>
      </div>
    </div>

    <div class="reseting-password">
      <%= f.button 'Request a Reset Link', class: 'ag-btn ag-btn-lg ag-btn-primary btn', type: 'submit' %>
    </div>

    <div class="separator">
      <div class="separating-line">
        <span class="text">Or</span>
      </div>
    </div>

    <div class="back-to-login">
      <%= button_tag 'Go Back to Login', class: 'back-to-login-btn login-btn' %>
    </div>
  <% end %>
</div>

# touched on 2025-05-22T19:23:27.454136Z

# touched on 2025-06-13T21:17:40.963353Z
# touched on 2025-06-13T21:17:50.631106Z